---
layout: layout
title: Beau Simensen
permalink: qr/lu6k/index.html

---
{% block content %}

<header class="jumbotron subhead" id="overview">
	<h1>{{ page.title }}</h1>
</header>

<section>

<div class="container">
	<div class="row-fluid">
		<div class="span12">

<p>
	<img src="{{ site.url }}/assets/img/profile-beau.jpg" />
</p>
<p>
	Looking for Beau? Email him at <a href="mailto:beau@offloc.com">beau@offloc.com</a>.
</p>

		</div>
	</div>
</div>
</section>
{% endblock %}
